@import 'tailwindcss';

@theme {
    --breakpoint-xl: 1140;
    --breakpoint-2xl: 1320;
}

@utility playfair {
    font-family: var(--font-playfair), serif;
    font-weight: 400;
}

@custom-variant hover-active {
    &:hover,
    &:active {
        @slot;
    }
}

* {
    @apply selection:bg-amber-800/35;
}

h1 {
    @apply playfair font-semibold text-4xl md:text-6xl;
}
button {
    @apply cursor-pointer;
}

nav.not-hero {
    @apply bg-white text-zinc-800;
}

.split,
.appear {
    opacity: 0;
}

.mdx-container {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-4;
    }

    h2 {
        @apply text-xl font-semibold;
    }

    hr {
        @apply opacity-50;
    }

    ul {
        @apply list-disc list-inside my-4;
    }
    p {
        @apply my-4 text-justify;
    }
}
